
// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dl,
ol,
ul
	margin-top: 0
	padding-left: 0
	margin-left: 1.1em

	dl,
	ol,
	ul
		font-size: 90%
		margin: 1.5rem 0 1.5rem 3.0rem

ol
	list-style: decimal outside
	margin-left: 1.2em

ul
	list-style: disc outside
	margin-left: 1.1em

li.list-header-divider
	list-style: none
	margin-left: -1.1em
	font-weight: 700